/*
    You can add your own custom styles here.
*/

h1.site-name a, #main-menu li.current a, section.copyright {
    color: var(--heading-color) !important;
}

section.copyright {
    color: var(--heading-color2) !important;
}

.archives-year {
  a {
      span.year {
          color: inherit !important;
      }

  }
}

.article-title a {
  color: var(--accent-color);
}

.article-title a:hover {
color: var(--accent-color-darker);
}

.article-title a:visited {
  color: var(--link-visited-color);
}

section.tagCloud a {
    color: var(--tag-cloud-color) !important;
    background: var(--tag-cloud-bg-color) !important;
}

section.article-tags a {
    color: var(--article-tag-color) !important;
    background-color: var(--article-tag-bg-color) !important;
}

[data-scheme="dark"] {
  #dark-mode-toggle {
      color: var(--body-text-color);
  }
}
